## Домашнее задание «Функции и работа с данными»

In [1]:
import pandas as pd

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.

Результат классификации запишите в столбец class.

In [2]:
data = pd.read_csv('C:\\Users\\alexander.dubovik\\Documents\\PYDA-38\\NUMP_PAND\\hw\\ml-latest-small\\ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def classification (row):
    '''
    Функция выводит тип рейтинга в зависимости от типа (по условию задачи)
    '''
    if row['rating'] <= 2:
        return "низкий рейтинг"
    elif row['rating'] <= 4:
        return "средний рейтинг"
    return "высокий рейтинг"

In [4]:
data['class'] = data.apply(classification, axis = 1)
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [5]:
data1 = pd.read_csv('C:\\Users\\alexander.dubovik\\Documents\\PYDA-38\\NUMP_PAND\\hw\\ml-latest-small\\keywords.csv')
data1.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 
     'Северо-Запад': ['петербург', 'псков', 'мурманск'], 
     'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [7]:
def city_in_geo_data (row):
    row = str(row).split()
    for key, value in geo_data.items():
        for i in row:
            if i in value:
                return (key)
    return "undefined"

In [9]:
data1['region'] = data1.apply(city_in_geo_data, axis=1)
data1.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [10]:
# Проверка
# data1[(data1['region'] == 'Центр')]
# data1[(data1['region'] == 'Северо-Запад')]
data1[(data1['region'] == 'Дальний Восток')]
# data1[(data1['region'] == 'undefined')]

                                       keyword   shows          region
1063                       фарпост владивосток  176951  Дальний Восток
2175                            дром хабаровск   98361  Дальний Восток
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
...                                        ...     ...             ...
90402                     аэропорт владивосток    4658  Дальний Восток
92442  монастырев владивосток официальный сайт    3870  Дальний Восток
92843                    проститутки хабаровск    4120  Дальний Восток
93872                        биглион хабаровск    3890  Дальний Восток
95572                 точное время владивосток    4142  Дальний Восток

[64 rows x 3 columns]