# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение
Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [173]:
import pandas as pd
import numpy as np

In [174]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', header = None, na_values='?') 
## так как нет заголовка, то мы указываем что его нет, что бы потом переименовать, так же зная, что в данных есть пропуски в виде "?" , то используем аргумент na_values при чтении файла. 

df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [175]:
## нам нужно задать названия для каждого столбца
df.columns = ['surgery', 'age', 'hospital_number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 
                'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 
                'nasogastric_reflux', 'nasogastric_reflux_ph', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 
                'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion', 'type_of_lesion_1', 'type_of_lesion_2', 'type_of_lesion_3', 'cp_data']

In [176]:
df.head()

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion_1,type_of_lesion_2,type_of_lesion_3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [207]:
df_stat = df[['age', 'surgery', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']]

In [208]:
df_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         300 non-null    int64
 1   surgery                     299 non-null    float64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [209]:
df_stat.head()

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,2.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,1,2.0,38.3,40.0,24.0,1.0,3.0,1.0
3,9,1.0,39.1,164.0,84.0,4.0,2.0,2.0
4,1,2.0,37.3,104.0,35.0,NaN,NaN,2.0

In [ ]:
# df['surgery'] = df['surgery'].astype('Int64')
# df['temperature_of_extremities'] = df['temperature_of_extremities'].astype('Int64')
# df['pain'] = df['pain'].astype('Int64')
# df['outcome'] = df['outcome'].astype('Int64')

Описание столбцов:
1. Age
    - 1 = Adult horse
    - 2 = Young (< 6 months)
2. surgery
    - 1 = Yes, it had surgery
    - 2 = It was treated without surgery
3. rectal temperature
    - linear
    - in degrees celsius.
    - An elevated temp may occur due to infection.
    - temperature may be reduced when the animal is in late shock
    - normal temp is 37.8
    - this parameter will usually change as the problem progresses (eg. may start out normal, then become elevated because of
    the lesion, passing back through the normal range as the horse goes into shock)
4. pulse
    - linear
    - the heart rate in beats per minute
    - is a reflection of the heart condition: 30 -40 is normal for adults
    - rare to have a lower than normal rate although athletic horses may have a rate of 20-25
    - animals with painful lesions or suffering from circulatory shock may have an elevated heart rate
5. respiratory rate
    - linear
    - normal rate is 8 to 10
    - usefulness is doubtful due to the great fluctuations
6. temperature of extremities
    - a subjective indication of peripheral circulation
    - possible values:
        - 1 = Normal
        - 2 = Warm
        - 3 = Cool
        - 4 = Cold
     - cool to cold extremities indicate possible shock
     - hot extremities should correlate with an elevated rectal temp.
7. pain - a subjective judgement of the horse's pain level
    - possible values:
        - 1 = alert, no pain
        - 2 = depressed
        - 3 = intermittent mild pain
        - 4 = intermittent severe pain
        - 5 = continuous severe pain
    - should NOT be treated as a ordered or discrete variable!
    - In general, the more painful, the more likely it is to require surgery
    - prior treatment of pain may mask the pain level to some extent
8. outcome
    - what eventually happened to the horse?
    - possible values:
        - 1 = lived
        - 2 = died
        - 3 = was euthanized

### Задание 2. Работа с выбросами

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [210]:
df_stat.describe()

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,300.000000,299.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.640000,1.397993,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,2.173972,0.490305,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,1.000000,2.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,9.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [211]:
q1 = df_stat['rectal_temperature'].quantile(0.25)
q3 = df_stat['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_stat[df_stat['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

C:\Users\alexander.dubovik\AppData\Local\Temp\ipykernel_11248\2217636179.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df_stat[df_stat['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,2.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,1,2.0,38.3,40.0,24.0,1.0,3.0,1.0
3,9,1.0,39.1,164.0,84.0,4.0,2.0,2.0
4,1,2.0,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
292,1,1.0,37.0,66.0,20.0,1.0,4.0,2.0
294,1,2.0,38.5,40.0,16.0,1.0,2.0,1.0
296,1,2.0,37.2,72.0,24.0,3.0,4.0,3.0
297,1,1.0,37.5,72.0,30.0,4.0,4.0,2.0
299,1,1.0,37.2,40.0,20.0,NaN,NaN,3.0

In [212]:
df_stat[~df_stat['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\alexander.dubovik\AppData\Local\Temp\ipykernel_11248\1786577717.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df_stat[~df_stat['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)]

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,1,2.0,NaN,NaN,NaN,2.0,2.0,1.0
7,1,1.0,NaN,60.0,NaN,3.0,NaN,2.0
8,1,2.0,NaN,80.0,36.0,3.0,4.0,3.0
16,9,1.0,NaN,128.0,36.0,3.0,4.0,2.0
20,1,1.0,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
282,1,1.0,NaN,70.0,16.0,3.0,2.0,2.0
288,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
293,1,1.0,NaN,78.0,24.0,3.0,NaN,3.0
295,1,1.0,NaN,120.0,70.0,4.0,2.0,3.0
298,1,1.0,36.5,100.0,24.0,3.0,3.0,1.0

In [213]:
q1 = df_stat['pulse'].quantile(0.25)
q3 = df_stat['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_stat[df_stat['pulse'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

C:\Users\alexander.dubovik\AppData\Local\Temp\ipykernel_11248\3106090784.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df_stat[df_stat['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,2.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,1,2.0,38.3,40.0,24.0,1.0,3.0,1.0
4,1,2.0,37.3,104.0,35.0,NaN,NaN,2.0
6,1,1.0,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
295,1,1.0,NaN,120.0,70.0,4.0,2.0,3.0
296,1,2.0,37.2,72.0,24.0,3.0,4.0,3.0
297,1,1.0,37.5,72.0,30.0,4.0,4.0,2.0
298,1,1.0,36.5,100.0,24.0,3.0,3.0,1.0
299,1,1.0,37.2,40.0,20.0,NaN,NaN,3.0

In [259]:
df_stat[~df_stat['pulse'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\alexander.dubovik\AppData\Local\Temp\ipykernel_11248\652504859.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df_stat[~df_stat['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,2,1.0,39.1,164.0,84.0,4.0,2.0,2.0
5,1,2.0,NaN,NaN,NaN,2.0,2.0,1.0
28,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0
41,2,2.0,39.0,150.0,72.0,NaN,NaN,1.0
52,1,2.0,NaN,NaN,NaN,1.0,1.0,1.0
55,2,1.0,38.6,160.0,20.0,3.0,3.0,2.0
56,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
58,1,1.0,NaN,NaN,20.0,4.0,5.0,2.0
74,2,1.0,NaN,NaN,NaN,NaN,NaN,2.0
78,1,1.0,NaN,NaN,NaN,3.0,5.0,2.0
83,1,1.0,38.0,NaN,24.0,3.0,5.0,2.0
93,1,2.0,NaN,NaN,NaN,3.0,5.0,2.0
115,1,2.0,NaN,NaN,40.0,3.0,3.0,1.0
117,1,2.0,39.5,NaN,NaN,3.0,3.0,3.0
126,1,1.0,38.7,NaN,NaN,3.0,5.0,1.0
136,1,1.0,NaN,NaN,NaN,3.0,5.0,2.0
151,1,1.0,39.3,NaN,NaN,4.0,4.0,2.0
159,1,2.0,NaN,NaN,12.0,1.0,2.0,1.0
160,1,1.0,NaN,NaN,NaN,NaN,4.0,1.0
174,1,2.0,NaN,NaN,NaN,3.0,4.0,2.0
175,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
182,1,1.0,38.0,NaN,24.0,3.0,5.0,2.0
204,1,1.0,39.2,NaN,23.0,3.0,4.0,1.0
207,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0
216,1,2.0,NaN,NaN,NaN,NaN,NaN,1.0
227,2,1.0,NaN,NaN,NaN,NaN,NaN,1.0
255,2,1.0,38.8,184.0,84.0,1.0,4.0,2.0
275,2,1.0,38.8,150.0,50.0,1.0,5.0,2.0
288,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0

### Не уверен, что правильно понял задание, но просто пошел по параметрам с 1 по 8.
1. Age - в данных может быть всего два параметра 1 и 2, в данных задания есть параметр 9, который скорее всего является ошибкой ввода
2. surgery - имеет всего два параметра, других данных в таблице нет
3. rectal temperature - нормальная темпераутра 37.8 - вбросов более или менее разумных температур не обнаружил
4. pulse - кроме Nan не обнаружил существенных вбросов, которые можно было бы исключить
5. respiratory rate - из задания и описания понятно, что существенного влияния не оказывает (usefulness is doubtful due to the great fluctuations)
6.  temperature of extremities - не выходит за пределы устанволенные в описании от 1 до 4
7. pain - в пределах нормы выбросов нет
8. outcome - - в пределах нормы выбросов нет



### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [215]:
## процентное содержание пропусков в колонках
(df_stat.isna().mean() * 100).round(2)

age                            0.00
surgery                        0.33
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

1. По данным выше мы видим сразу что не все данные заполнены, далее мы будем работать с пропусками.
2. Вывеk процентное отношение пропусков по кажому параметру. 
2. В данных возраста есть видимая ошибка или опечатка, согласно условия, в данных стоит 9 - что мы можем проанализировать и принять либо как опечатка и должна быть равна 2, либо 1, для удобства будем считать что все 9 это 2-ки - молодые особи.
3. проанализировав данные, можем удалить строки, если нет данных в 5 из 8 колонках

In [216]:
# Создаем новый df - что бы убедиться что ничего не сломаем и было с чем сравнить
df_var = df_stat.copy()

In [217]:
# заменяем все 9 на 2 в колонке age
df_var.loc[(df_var['age'] == 9.0), 'age'] = 2.0

In [255]:
# Для дальнейшего сравнения в stat тоже изменил 9 на 2
df_stat.loc[(df_stat['age'] == 9.0), 'age'] = 2.0

In [246]:
# для Анализа попробуем удалить все строки с Nan что бы понять как изменятся данные 
df_var.dropna(inplace = True)

In [247]:
df_var

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,2.0,38.5,66.0,28.0,3.0,5.0,2.0
2,1,2.0,38.3,40.0,24.0,1.0,3.0,1.0
3,2,1.0,39.1,164.0,84.0,4.0,2.0,2.0
6,1,1.0,37.9,48.0,16.0,1.0,3.0,1.0
10,1,1.0,38.1,66.0,12.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
292,1,1.0,37.0,66.0,20.0,1.0,4.0,2.0
294,1,2.0,38.5,40.0,16.0,1.0,2.0,1.0
296,1,2.0,37.2,72.0,24.0,3.0,4.0,3.0
297,1,1.0,37.5,72.0,30.0,4.0,4.0,2.0
298,1,1.0,36.5,100.0,24.0,3.0,3.0,1.0

In [256]:
print(df_stat.describe())
print('-----------------------------------')
print(df_var.describe())

              age     surgery  rectal_temperature       pulse  \
count  300.000000  299.000000          240.000000  276.000000
mean     1.080000    1.397993           38.167917   71.913043
std      0.271746    0.490305            0.732289   28.630557
min      1.000000    1.000000           35.400000   30.000000
25%      1.000000    1.000000           37.800000   48.000000
50%      1.000000    1.000000           38.200000   64.000000
75%      1.000000    2.000000           38.500000   88.000000
max      2.000000    2.000000           40.800000  184.000000

       respiratory_rate  temperature_of_extremities       pain     outcome
count        242.000000                  244.000000  245.00000  299.000000
mean          30.417355                    2.348361    2.95102    1.551839
std           17.642231                    1.045054    1.30794    0.737187
min            8.000000                    1.000000    1.00000    1.000000
25%           18.500000                    1.000000    2.00000    1.000000
50%           24.500000                    3.000000    3.00000    1.000000
75%           36.000000                    3.000000    4.00000    2.000000
max           96.000000                    4.000000    5.00000    3.000000
-----------------------------------
              age     surgery  rectal_temperature       pulse  \
count  154.000000  154.000000          154.000000  154.000000
mean     1.077922    1.435065           38.163636   70.844156
std      0.268923    0.497383            0.731890   29.609690
min      1.000000    1.000000           35.400000   36.000000
25%      1.000000    1.000000           37.800000   48.000000
50%      1.000000    1.000000           38.200000   60.000000
75%      1.000000    2.000000           38.500000   88.000000
max      2.000000    2.000000           40.800000  184.000000

       respiratory_rate  temperature_of_extremities        pain     outcome
count        154.000000                  154.000000  154.000000  154.000000
mean          29.649351                    2.220779    2.694805    1.480519
std           16.122299                    1.061795    1.217132    0.697529
min            9.000000                    1.000000    1.000000    1.000000
25%           18.000000                    1.000000    2.000000    1.000000
50%           27.000000                    2.500000    3.000000    1.000000
75%           36.000000                    3.000000    3.000000    2.000000
max           88.000000                    4.000000    5.000000    3.000000

In [257]:
df_stat.describe() - df_var.describe()

,age,surgery,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,146.000000,145.000000,86.000000,122.000000,88.000000,90.000000,91.000000,145.000000
mean,0.002078,-0.037072,0.004280,1.068888,0.768005,0.127581,0.256215,0.071320
std,0.002823,-0.007078,0.000399,-0.979133,1.519932,-0.016741,0.090807,0.039658
min,0.000000,0.000000,0.000000,-6.000000,-1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,4.000000,-2.500000,0.500000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000

Как видим из сравнения изменений:
    Удаление всех строк с NaN выявило, что изменения на параметры age, surgery, rectal_temperature, outcome не сильно повлияло.
    зменения в параметре pulse - повлияло на минимальное значение, медиану и std.
    Для параметров pulse, temperature_of_extremities, pain - надо использовать другие методы для замены пропусков. (медиана, среднее, либо подбором близких параметров)